
/* لا تحذفي اي شي موجود هون  */
/* start feutures */
.feutures
{

  width: 100%;
}
.feutures h4
{
  margin: 50px auto 30px auto;
}
/* end feutures */


/* start discover */
.discover h4
{
  margin: 50px auto 30px auto;
}


.discover .container .card {
  background-color:#B2B2B2 ;
  border-radius: 0px;
  }

  .col-lg-4 .a
  {
  transition: transform 1s ease;
  }

.discover .card-body
{
  height: 40px;
  padding-top: 10px;
}

  .row .col-lg-4 .a:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

 .container .card
 {
  margin-bottom: 30px;
 }
 .container  a
 {
text-decoration: none;
color: white;
 }

.discover  a
{
text-decoration: none;
color: white;
}




/* حالليا اللي بعد هالسسطر مو لازمين */
/* .clearfix:hover
{
  background-color:#E1C699;


} */


.container-fluid .row figure:hover,
.container-fluid .row div.clearfix:hover {
  transform: scale(1.1); /* تكبير الصورة عند تحويل الماوس عليها */
  transition: all 0.3s ease; /* تطبيق التحول بشكل سلس على جميع الخصائص */
}


div.clearfix
{
  width: 347.99px;
  transition:0.2s transform 1s ease; /* تحديد سرعة التحول بشكل سلس */
  background-color: #E1C699;
  height: 40px;
  padding-top: 8px;
}
.container-fluid .row

 {
  transition:0.2s transform 1s ease; /* تحديد سرعة التحول بشكل سلس */
  margin-bottom: 30px;


 }
 .container-fluid .row  figure img

 {
  width: 360px;
height: 300px;


 }
/* end discover the mall */
